<nav id="navigation">
  <section id="menu">
    <ul id="links">
      <li class="animate__animated animate__fadeInRight animate__delay-2s">
        <a href="#home" class="nav-link">HOME</a>
      </li>
      <li class="animate__animated animate__fadeInRight animate__delay-1s">
        <a href="#skills" class="nav-link">HABILIDADES</a>
      </li>

      <li id="logo" class="animate__animated animate__fadeInDown">
        <img
          src="dev-george.ico"
          alt="Logo Dev George"
          width="32"
          height="32" />
      </li>

      <li class="animate__animated animate__fadeInLeft animate__delay-1s">
        <a href="#projects" class="nav-link">PROJETOS</a>
      </li>
      <li class="animate__animated animate__fadeInLeft animate__delay-2s">
        <a href="#contact" class="nav-link">CONTATO</a>
      </li>
    </ul>
  </section>
</nav>
