@import './../../../scss/tokens/generic/transition';
@import './../../../scss/tokens/colors/token';
@import './../../../scss/tokens/typography/token';

#navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: transparent;
  z-index: 9;
  padding: 1rem;

  #menu {
    height: 100%;
    background: transparent;
    z-index: 99;
    @include transitionMenu;

    #links {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      gap: 0.5rem;
      list-style: none;
      background: transparent;

      #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 16px;
      }

      li {
        min-width: 1.5rem;

        a {
          width: 100%;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          border-radius: 8px;
          font-size: $font-size-body-l;
          padding: 0.5rem 1rem;
          color: $color-white;
          @include transition;

        }
      }
    }
  }
}
