<nav id="navigation">
  <section id="menu">
    <ul id="links">
      <li>
        <app-button-menu textMenu="HOME"></app-button-menu>
      </li>
      <li>
        <app-button-menu textMenu="HABILIDADES"></app-button-menu>
      </li>

      <li id="logo">
        <img
          src="dev-george.ico"
          alt="Logo Dev George"
          width="32"
          height="32" />
      </li>

      <li>
        <app-button-menu textMenu="PROJETOS"></app-button-menu>
      </li>
      <li>
        <app-button-menu textMenu="CONTATO"></app-button-menu>
      </li>
    </ul>
  </section>
</nav>
