@import './../../scss/tokens/typography/token';
@import './../../scss/tokens/colors/token';
@import './../../scss/tokens/generic/transition';

::ng-deep .p-toast .p-toast-message.p-toast-message-success {
  background: $color-black;
  border-left: 6px solid $color-success;
  border-top: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  color: $color-white;

  .p-toast-icon-close {
    color: $color-white;
  }
}

::ng-deep .p-toast .p-toast-message.p-toast-message-error {
  background: $color-black;
  border-left: 6px solid $color-error;
  border-top: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  color: $color-white;

  .p-toast-icon-close {
    color: $color-white;
  }
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;

  .container-contact {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      font-size: $font-size-body-l;
      color: $color-gray;
      font-weight: 200;
      margin-top: 0;
      margin-bottom: 2rem;
      @include fadeInBottom(1s, 0s);
    }

    .content {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .content-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0.5rem;
        margin-top: 8px;
        @include fadeInBottom(1s, 0.2s);

        .text-contact {
          font-size: $font-size-body-l;
          font-weight: 200;
        }

        .info-contact {
          display: flex;
          flex-direction: column;
          margin-top: 2rem;
        }
      }

      .content-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: 8px;
        @include fadeInBottom(1s, 0.4s);

        .form-contact {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .container-error-message {
            min-height: 1.5rem;
          }

          textarea {
            height: 100px;
            resize: none;
          }
        }

        button {
          width: 45%;
          margin-top: 1.5rem;
          @include fadeInBottom(1s, 0.8s);
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container-contact {
    width: 100% !important;

    .content {
      flex-direction: column;

      .content-text {
        margin-right: 0 !important;
      }

      .content-form {
        margin-left: 0 !important;
        margin-top: 2rem;
      }
    }
  }
}
