@import './../../scss/tokens/typography/token';
@import './../../scss/tokens/colors/token';

::ng-deep body {
  overflow: auto !important;
}

.skills {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 130px;

  .container-skills {
    width: 80%;
    margin-bottom: 1rem;

    .title {
      font-size: $font-size-body-l;
      color: $color-gray;
      font-weight: 200;
      margin-bottom: 2rem;
    }

    .content {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      .text-and-skills {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        .text {
          flex: 1;

          h2 {
            margin-top: 0;
            font-weight: 200;
          }

          ul {
            padding-left: 1rem;

            li {
              font-size: $font-size-body-l;
            }
          }
        }

        .images-skills {
          flex: 1;
          display: grid;
          grid-template-columns: 50px 50px 50px 50px;
          justify-content: center;
          gap: 2rem 3rem;
        }
      }

      .advantages {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;

        .container-advantages {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 1.5rem;

          .card-advantage {
            flex: 1;
            display: flex;
            min-height: 250px;
            height: 250px;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border: 1px solid $color-white;

            .icon {
              height: min-content;
              font-size: 2rem;
            }

            h3 {
              font-weight: 200;
              font-size: 1rem;
              text-align: center;
            }

            span {
              color: $color-gray;
              font-size: $font-size-body-p;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .card-advantage {
    height: 280px !important;

    .icon {
      font-size: 1.5rem !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .container-skills {
    width: 100% !important;

    .text-and-skills {
      flex-direction: column;

      .images-skills {
        margin: 1rem 0;
      }
    }

    .container-advantages {
      flex-direction: column;

      .card-advantage {
        .icon {
          font-size: 2rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .images-skills {
    gap: 2rem !important;
  }
}
