<div class="skills">
  <div class="container-skills">
    <h1 class="title">&lt;Habilidades&gt;</h1>

    <div class="content">
      <section class="text-and-skills">
        <div class="text">
          <h2>Algumas de minhas habilidades e especialidades</h2>

          <ul>
            <li>Desen. de Websites</li>
            <li>Desen. Wordpress</li>
            <li>Desen. de SPA's</li>
            <li>Aplicações com acessibilidade</li>
            <li>Alta cobertura de testes</li>
            <li>Testes automatizados</li>
          </ul>
        </div>

        <div class="images-skills">
          @for (bullet of skillBullets; track bullet.url) {
            <div class="bullet-skill">
              <img
                [ngSrc]="bullet.url"
                [alt]="bullet.alt"
                width="50"
                height="50" />
            </div>
          }
        </div>
      </section>

      <section class="advantages">
        <h2 class="title">&lt;Vantagens&gt;</h2>

        <div class="container-advantages">
          <div class="card-advantage">
            <ng-icon class="icon" name="bootstrapPeopleFill"></ng-icon>

            <h3>Comunicação</h3>

            <span>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less.
            </span>
          </div>

          <div class="card-advantage">
            <ng-icon class="icon" name="bootstrapPeopleFill"></ng-icon>

            <h3>Comunicação</h3>

            <span>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less,
            </span>
          </div>

          <div class="card-advantage">
            <ng-icon class="icon" name="bootstrapPeopleFill"></ng-icon>

            <h3>Comunicação</h3>

            <span>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less.
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
