<div class="skills">
  <div class="container-skills">
    <h1 class="title">&lt;Habilidades&gt;</h1>

    <div class="content">
      <section class="text-and-skills">
        <div class="text">
          <h2>Algumas de minhas habilidades e especialidades</h2>

          <ul>
            <li>Desenvolvimento de Websites</li>
            <li>Desenvolvimento Wordpress</li>
            <li>Desenvolvimento de SPA's</li>
            <li>Aplicações com acessibilidade</li>
            <li>Alta cobertura de testes</li>
            <li>Testes automatizados</li>
          </ul>
        </div>

        <div class="images-skills">
          @for (bullet of skillBullets; track bullet.url) {
            <div class="bullet-skill">
              <img
                [ngSrc]="bullet.url"
                [alt]="bullet.alt"
                width="50"
                height="50" />
            </div>
          }
        </div>
      </section>

      <section class="advantages">
        <h2 class="title mt-2rem">&lt;Vantagens&gt;</h2>

        <div class="container-advantages">
          @for (card of advantagesCards; track card.title) {
            <article
              tabindex="0"
              class="card-advantage"
              attr.aria-label="{{ card.title + ', ' + card.description }}">
              <ng-icon class="icon" [name]="card.icon"></ng-icon>

              <h3 aria-hidden="true">{{ card.title }}</h3>

              <span aria-hidden="true">
                {{ card.description }}
              </span>
            </article>
          }
        </div>
      </section>
    </div>
  </div>
</div>
