.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Adicione um espaçamento entre as seções
// .section + .section {
//   margin-top: 2rem;
// }
