<footer id="footer" [ngClass]="{ 'without-button-email': !showButtonEmail }">
  @if (showButtonEmail) {
    <div
      class="button-email"
      tabindex="0"
      (click)="goToContact()"
      (keyup.enter)="goToContact()">
      <ng-icon class="icon-email" name="bootstrapEnvelopeAtFill"></ng-icon>
      <span class="ml-8px mt-5px">E-mail</span>
    </div>
  }

  <div class="buttons-right">
    <div
      class="button-git"
      role="button"
      aria-label="Botão ir para o Github"
      tabindex="0"
      (click)="goToGithub()"
      (keyup.enter)="goToGithub()">
      <ng-icon class="icon" name="bootstrapGithub"></ng-icon>
    </div>

    <div
      class="button-linkedin"
      role="button"
      aria-label="Botão ir para o LinkedIn"
      tabindex="0"
      (click)="goToLinkedIn()"
      (keyup.enter)="goToLinkedIn()">
      <ng-icon class="icon" name="bootstrapLinkedin"></ng-icon>
    </div>

    <div
      class="button-whatsapp"
      role="button"
      aria-label="Botão ir para o WhatsApp"
      tabindex="0"
      (click)="goToWhatsApp()"
      (keyup.enter)="goToWhatsApp()">
      <ng-icon class="icon" name="bootstrapWhatsapp"></ng-icon>
    </div>
  </div>
</footer>
