<footer
  id="footer"
  class="pl-1rem pr-1rem pb-1rem"
  [ngClass]="{ 'without-button-email': !showButtonEmail }"
>
  @if (showButtonEmail) {
  <div class="button-email" (click)="goToContact()">
    <ng-icon class="icon-email" name="bootstrapEnvelopeAtFill"></ng-icon>
    <span class="ml-8px mt-5px">E-mail</span>
  </div>
  }

  <div class="buttons-right">
    <ng-icon
      class="icon"
      name="bootstrapGithub"
      (click)="goToGithub()"
    ></ng-icon>

    <ng-icon
      class="icon"
      name="bootstrapWhatsapp"
      (click)="goToWhatsApp()"
    ></ng-icon>
  </div>
</footer>
