@import './../../../scss/tokens/colors/token';
@import './../../../scss/tokens/generic/transition';
@import './../../../scss/tokens/typography/token';

#footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: $color-black;

  .icon {
    color: $color-gray;
    font-size: $font-size-h3;
    overflow: visible;
    @include transition;

    &:hover {
      cursor: pointer;
      color: $color-white;
    }
  }

  .button-email {
    display: flex;
    align-items: center;
    color: $color-gray;
    @include transition;
    @include fadeInBottom(1s, 0.6s);

    .icon-email {
      font-size: $font-size-h3;
      overflow: visible;
    }

    span {
      margin-left: 0.5rem;
      margin-top: 5px;
    }

    &:hover {
      cursor: pointer;
      color: $color-white !important;
    }

    &-invisible {
      display: none;
    }
  }

  .buttons-right {
    display: flex;
    gap: 16px;

    .button-git {
      @include fadeInBottom(1s, 0.4s);
    }

    .button-linkedin {
      @include fadeInBottom(1s, 0.2s);
    }

    .button-whatsapp {
      @include fadeInBottom(1s, 0s);
    }
  }
}

.without-button-email {
  justify-content: flex-end !important;
}
