@import './../../../scss/tokens/colors/token';
@import './../../../scss/tokens/generic/transition';
@import './../../../scss/tokens/typography/token';

#footer {
  width: 100%;
  min-height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  .icon {
    color: $color-gray;
    font-size: $font-size-h3;
    overflow: visible;
    @include transition;

    &:hover {
      cursor: pointer;
      color: $color-white;
    }
  }

  .button-email {
    display: flex;
    align-items: center;
    color: $color-gray;
    @include transition;

    .icon-email {
      font-size: $font-size-h3;
      overflow: visible;
    }

    &:hover {
      cursor: pointer;
      color: $color-white !important;
    }

    &-invisible {
      display: none;
    }
  }

  .buttons-right {
    display: flex;
    gap: 16px;
  }
}

.without-button-email {
  justify-content: flex-end !important;
}
