@import './../../scss/tokens/typography/token';
@import './../../scss/tokens/colors/token';

.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;

  .content-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .hello-world {
      font-weight: 200;
      font-size: $font-size-body-m;
    }

    .main-text {
      margin: 2rem 0;
      min-width: 308px;

      p {
        margin: 0;
      }

      span {
        position: relative;

        &::before {
          content: '';
          color: $color-gray;
          animation: words 20s infinite;
          white-space: nowrap;
        }

        &::after {
          content: '';
          position: absolute;
          height: 100%;
          border-left: 2px solid $color-white;
          right: -5px;
          animation:
            cursor 0.8s infinite,
            type 20s steps(15) infinite;
          width: calc(100% + 5px);
          background-color: $color-black;
        }
      }

      @keyframes type {
        10%,
        15%,
        30%,
        35%,
        50%,
        55%,
        70%,
        75%,
        90%,
        95% {
          width: 0;
        }

        5%,
        20%,
        25%,
        40%,
        45%,
        60%,
        65%,
        80%,
        85% {
          width: calc(100% + 5px);
        }
      }

      @keyframes cursor {
        0% {
          border-left: 2px solid $color-black;
        }
      }

      @keyframes words {
        0%,
        20% {
          content: 'front-end em Angular.';
        }

        21%,
        40% {
          content: 'testes com Jest.';
        }

        41%,
        60% {
          content: 'sites com HTML e CSS.';
        }

        61%,
        80% {
          content: 'automação com Playwright.';
        }

        81%,
        100% {
          content: 'boas práticas e padrões.';
        }
      }
    }
  }

  .content-animation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .home {
    flex-direction: column;
    
    .content-animation {
      display: none;
    }
  }
}
