<div class="home">
  <section class="content-text">
    <span class="first-text">&lt;dev front-end&gt;</span>

    <h1
      class="main-text"
      role="heading"
      aria-level="1"
      aria-label="Olá, muito prazer, meu nome é George. Trabalho com Angular Framework, teste com Jest, HTML e CSS, Playwright e Typescript">
      <p aria-hidden="true">
        Olá, muito prazer, meu nome é George. Transformo ideias em experiências
        digitais, com <span></span>
      </p>
    </h1>

    <button
      class="button-default"
      (click)="goToContact()"
      (keyup.enter)="goToContact()">
      ENTRE EM CONTATO
    </button>
  </section>
</div>
