<div class="projects">
  <div class="container-projects">
    <h1 class="title">&lt;Projetos&gt;</h1>

    <p class="description-projects">
      Confira alguns dos meus principais projetos, desenvolvidos com foco em
      qualidade, desempenho e inovação.
    </p>

    <p-carousel
      [value]="projects"
      [numVisible]="1"
      [numScroll]="1"
      [showIndicators]="false">
      <ng-template let-project pTemplate="project">
        <div class="container-carousel">
          <app-project-preview
            [project]="project"
            (clickMoreDetails)="selectProject($event)"></app-project-preview>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<p-dialog
  [modal]="true"
  [(visible)]="showModalDetailsProject"
  [style]="{ width: 'fit-content' }">
  <app-project-presentation [project]="projectSelected">
  </app-project-presentation>
</p-dialog>
