<div class="projects">
  <div class="container-projects">
    <h1 class="title">&lt;Projetos&gt;</h1>

    <p class="description-projects">
      Confira alguns dos meus principais projetos, desenvolvidos com foco em
      qualidade, desempenho e inovação.
    </p>

    <p-carousel
      [value]="projects"
      [numVisible]="1"
      [numScroll]="1"
      [showIndicators]="false">
      <ng-template let-project pTemplate="project">
        <div class="container-carousel">
          <app-project-presentation [project]="project">
          </app-project-presentation>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
