@import './../../../scss/tokens/colors/token';

::ng-deep .p-tooltip-arrow {
  border-top-color: $color-gray;
}

::ng-deep .p-tooltip-text {
  background: $color-gray;
  color: $color-dark-gray;
  padding: 0.5rem;
}

::ng-deep .p-dialog {
  max-width: 80%;
  border: 1px solid $color-white;
  border-radius: 0;

  &-header {
    padding: 0 1rem;
    background-color: $color-black;

    &-close {
      color: $color-white;
      margin-bottom: -5.8rem;
      margin-right: 0.5rem;

      &:hover {
        background-color: $color-gray;
        color: $color-black;
      }
    }
  }

  &-content {
    background-color: $color-black;
    color: $color-white;
  }
}

.project-presentation {
  display: flex;
  flex-direction: column;

  .title-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0 1rem 0;

    .title {
      margin: 0;
    }

    .status {
      padding: 0.2rem 0.5rem;
      font-size: 0.75rem;
      border-radius: 1rem;
      margin-left: 1rem;

      &.concluded {
        background-color: $color-success;
      }

      &.in-progress {
        background-color: $color-warning;
      }
    }
  }

  .container {
    display: flex;

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 0.5rem;

      .description {
        font-size: 1rem;
        font-weight: 300;
        text-align: justify;
      }

      .label-technologies {
        font-size: 1rem;
        font-weight: 600;
      }

      .technologies {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        .label-technologies {
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .bullets-technologies {
          display: flex;
          justify-content: space-between;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 1rem;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 165px;
          gap: 0.5rem;
        }
      }
    }

    .demo {
      flex: 1;
      margin-left: 0.5rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}
