@import './../../../scss/tokens/colors/token';
@import './../../../scss/tokens/generic/transition';
@import './../../../scss/tokens/typography/token';


::ng-deep .p-tooltip-arrow {
  border-top-color: $color-gray;
}

::ng-deep .p-tooltip-text {
  background: $color-gray;
  color: $color-dark-gray;
  padding: 0.5rem;
}

::ng-deep .p-dialog {
  max-width: 80%;
  border: 1px solid $color-white;
  border-radius: 4px;

  &-header {
    padding: 0 1rem;
    background-color: $color-black;

    &-close {
      color: $color-white;
      background-color: $color-black;
      margin-bottom: -5.8rem;
      margin-right: 0.5rem;
      z-index: 999;

      &:hover {
        background-color: $color-gray;
        color: $color-black;
      }
    }
  }

  &-content {
    background-color: $color-black;
    color: $color-white;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: $color-gray;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-black;
      border-radius: 1rem;
      border: 1px solid $color-gray;
    }
  }
}

.project-presentation {
  display: flex;
  flex-direction: column;

  .title-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0 1rem 0;
    @include fadeInBottom(1s, 0s);

    .title {
      margin: 0;
      font-family: $font-family;
    }

    .status {
      padding: 0.2rem 0.5rem;
      font-size: 0.75rem;
      border-radius: 1rem;
      margin-left: 1rem;
      font-family: $font-family;

      &.concluded {
        background-color: $color-success;
      }

      &.in-progress {
        background-color: $color-warning;
      }
    }
  }

  .container {
    display: flex;

    .demo {
      flex: 1;
      order: 2;
      margin-bottom: 1rem;
      @include fadeInBottom(1s, 0.4s);
    }

    .info {
      flex: 1;
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1rem;
      @include fadeInBottom(1s, 0.2s);

      .description {
        font-size: 1rem;
        font-weight: 300;
        font-family: $font-family;
        text-align: justify;
      }

      .label-technologies {
        font-size: 1rem;
        font-weight: 600;
        font-family: $font-family;
      }

      .technologies {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        .label-technologies {
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .bullets-technologies {
          display: flex;
          justify-content: space-between;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 1rem;
        @include fadeInBottom(1s, 0.6s);

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 165px;
          gap: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;

    .demo {
      order: 1 !important;
      @include fadeInBottom(1s, 0.2s);
    }

    .info {
      order: 2 !important;
      @include fadeInBottom(1s, 0.4s);
    }
  }
}
